# Default ignored files
/.idea
/out
stocks-analize.iml
javafx-sdk-15/bin/api-ms-win-core-console-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-datetime-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-debug-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-errorhandling-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-file-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-file-l1-2-0.dll
javafx-sdk-15/bin/api-ms-win-core-file-l2-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-handle-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-heap-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-interlocked-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-libraryloader-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-localization-l1-2-0.dll
javafx-sdk-15/bin/api-ms-win-core-memory-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-namedpipe-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-processenvironment-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-processthreads-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-processthreads-l1-1-1.dll
javafx-sdk-15/bin/api-ms-win-core-profile-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-string-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-synch-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-synch-l1-2-0.dll
javafx-sdk-15/bin/api-ms-win-core-sysinfo-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-timezone-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-core-util-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-conio-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-convert-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-environment-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-filesystem-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-heap-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-locale-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-math-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-multibyte-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-private-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-process-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-runtime-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-stdio-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-string-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-time-l1-1-0.dll
javafx-sdk-15/bin/api-ms-win-crt-utility-l1-1-0.dll
javafx-sdk-15/bin/decora_sse.dll
javafx-sdk-15/bin/fxplugins.dll
javafx-sdk-15/bin/glass.dll
javafx-sdk-15/bin/glib-lite.dll
javafx-sdk-15/bin/gstreamer-lite.dll
javafx-sdk-15/bin/javafx_font.dll
javafx-sdk-15/bin/javafx_iio.dll
javafx-sdk-15/bin/jfxmedia.dll
javafx-sdk-15/bin/jfxwebkit.dll
javafx-sdk-15/bin/msvcp140.dll
javafx-sdk-15/bin/prism_common.dll
javafx-sdk-15/bin/prism_d3d.dll
javafx-sdk-15/bin/prism_sw.dll
javafx-sdk-15/bin/ucrtbase.dll
javafx-sdk-15/bin/vcruntime140.dll
javafx-sdk-15/legal/javafx.base/ADDITIONAL_LICENSE_INFO
javafx-sdk-15/legal/javafx.base/ASSEMBLY_EXCEPTION
javafx-sdk-15/legal/javafx.base/LICENSE
javafx-sdk-15/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
javafx-sdk-15/legal/javafx.controls/ASSEMBLY_EXCEPTION
javafx-sdk-15/legal/javafx.controls/LICENSE
javafx-sdk-15/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
javafx-sdk-15/legal/javafx.fxml/ASSEMBLY_EXCEPTION
javafx-sdk-15/legal/javafx.fxml/LICENSE
javafx-sdk-15/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
javafx-sdk-15/legal/javafx.graphics/ASSEMBLY_EXCEPTION
javafx-sdk-15/legal/javafx.graphics/jpeg_fx.md
javafx-sdk-15/legal/javafx.graphics/LICENSE
javafx-sdk-15/legal/javafx.graphics/mesa3d.md
javafx-sdk-15/legal/javafx.media/ADDITIONAL_LICENSE_INFO
javafx-sdk-15/legal/javafx.media/ASSEMBLY_EXCEPTION
javafx-sdk-15/legal/javafx.media/glib.md
javafx-sdk-15/legal/javafx.media/gstreamer.md
javafx-sdk-15/legal/javafx.media/libffi.md
javafx-sdk-15/legal/javafx.media/LICENSE
javafx-sdk-15/legal/javafx.swing/ADDITIONAL_LICENSE_INFO
javafx-sdk-15/legal/javafx.swing/ASSEMBLY_EXCEPTION
javafx-sdk-15/legal/javafx.swing/LICENSE
javafx-sdk-15/legal/javafx.web/ADDITIONAL_LICENSE_INFO
javafx-sdk-15/legal/javafx.web/ASSEMBLY_EXCEPTION
javafx-sdk-15/legal/javafx.web/icu_web.md
javafx-sdk-15/legal/javafx.web/libxml2.md
javafx-sdk-15/legal/javafx.web/libxslt.md
javafx-sdk-15/legal/javafx.web/LICENSE
javafx-sdk-15/legal/javafx.web/webkit.md
javafx-sdk-15/lib/javafx-swt.jar
javafx-sdk-15/lib/javafx.base.jar
javafx-sdk-15/lib/javafx.controls.jar
javafx-sdk-15/lib/javafx.fxml.jar
javafx-sdk-15/lib/javafx.graphics.jar
javafx-sdk-15/lib/javafx.media.jar
javafx-sdk-15/lib/javafx.properties
javafx-sdk-15/lib/javafx.swing.jar
javafx-sdk-15/lib/javafx.web.jar
javafx-sdk-15/lib/src.zip
