#rightAnchorPane {
    -fx-background-color: #353f59;
}
#leftAnchorPane {
    -fx-background-color: #2b344b;
}
.btnPane {
    -fx-padding: 5px 0px 5px 0px;
}
.btn {
    -fx-text-fill: white;
    -fx-background-color: #2c354b;
    -fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: bottom-center;
}
.btn:hover,.btnPane:hover {
    -fx-background-color: #6534ac;
    -fx-cursor: hand;
}
#test {
    -fx-background-color: red !important;
}
#portfolio {
    -fx-background-image: url('../images/portfolio.png');

    -fx-background-image: url('../images/portfolio.png');
    -fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

#settingsButton {
    -fx-background-color: none;
    -fx-background-image: url('../images/settings.png');
    -fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
    }
    #settingsButton:hover {
        -fx-background-image: url('../images/settingsHover.png');
        -fx-cursor: hand;
    }

#graphic {
    -fx-background-image: url('../images/graph.png');
    -fx-background-image: url('../images/graph.png');
    -fx-background-size: 45px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}

#AddPortfolio {
    -fx-background-color: none;
    -fx-background-image: url('../images/plus.png');
    -fx-background-size: 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center top;
}
#AddPortfolio:hover {
    -fx-background-image: url('../images/plusHover.png');
    -fx-cursor: hand;
}

#settingsButton {

    -fx-background-image: url('../images/settings.png');
     -fx-background-size: 35px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center top;
}

#settingsButton:Hover{
-fx-background-image: url('../images/settingsHover.png');
-fx-background-size: 35px;

}

.split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-cursor: default;
}
.bag {
    -fx-background-color: #ACA9BB;
}
